* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

body {
    margin: 0;
    padding: 0;
}

header {
    /*height: 120px;
    width: 100%;
    background-image: url('../img/logo-moi.png' );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    background-color: #ffffff;*/
    /*background: <img class="img-responsive" src="../img/logo-moi.png" alt="Chania" width=100% height=100%>*/
}

/*.header {
    margin-top: 20px;
}

    .header .textHeader {
        margin-left: 120px;
        color: Highlight;
    }*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    overflow: auto;
}


#rowMenu {
    margin-top: 0;
    margin-bottom: 0px;
}

#topMenu ul {
    background-color: Highlight;
}

.topMenu {
    float: left;
}

    .topMenu a {
        display: inline-block;
        color: #e7e7e7;
        text-align: center;
        padding: 5px 16px;
        text-decoration: none;
        border-right: 2px solid #e7e7e7;
    }

        .topMenu a:hover {
            color: #ff0000;
            text-decoration: underline;
        }

.leftColumn {
    float: left;
    width: 18%;
    height: 475px;
    background-color: #f1f1f1;
    max-height: 475px;
    border: 5px solid #e7e7e7;
}

.leftMenu {
    background-color: lightskyblue;
    border: 2px solid Highlight;
    margin-bottom: 2px;
}

    .leftMenu a {
        display: inline-block;
        color: darkblue;
        text-align: left;
        padding: 5px 16px;
        text-decoration: none;
    }

    .leftMenu:hover a {
        background-color: Highlight;
        color: #ffffff;
    }

    .leftMenu:hover {
        background-color: Highlight;
    }

.rightColumn {
    float: left;
    width: 82%;
    height: 475px;
    max-height: 475px;
    background-color: #f1f1f1;
    border: 5px solid #e7e7e7;
}

.function {
    padding: 10px;
}

.btn {
    padding: 2px 7px;
    margin: 5px;
}

.card {
    margin: 5px 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr, th, td {
    border: 1px solid #808080;
    padding: 5px;
}



.textBox {
    float: right;
    margin: 7px 20px;
    padding: 2px;
}

tr:nth-child(odd) {
    background-color: #e7e7e7;
}

.small {
    width: 2%;
    text-align: center;
}

    .small:hover {
        color: red;
    }

.fa .fa-edit:hover {
    color: blue;
    background-color: red;
}

.fa .fa-trash:hover {
    color: red;
    background-color: red;
}

footer {
    background-color: Highlight;
    border: 1px solid #e7e7e7;
    height: 25px;
}

    footer h4 {
        text-align: center;
        padding: 2px;
    }
